[Desktop Entry]
Name=Free Download Manager (AppImage)
Comment= FDM is a powerful modern download accelerator and organizer
Keywords=download;manager;free;fdm;
Exec=AppRun
Terminal=false
Type=Application
Icon=icon
Categories=Network;FileTransfer;P2P;GTK;
StartupNotify=true
